.modal{
    background-color: white;
    width: 500px;
    height: 500px;
}
.dash_board_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 700;
}