.name{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    color: black;
}
.main_section{
    width: 500px;
    height: 500px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;

}
